* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    //font-family: "Montserrat", sans-serif;
    background: #f2f3f5;
}

.oswald {
    font-family: "Oswald", sans-serif;
}

body,
html,
.App,
#root,
.outer {
    width: 100%;
    height: 100%;
}

$primary-color: #e50004;
$primary-color-hover: #cc0004;
$md-screen: 1140px;

.btn {
    border-radius: 16px;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    text-decoration: none;
    font-weight: 600;
    padding: 6px 20px;

    &:hover {
        background-color: $primary-color-hover;
        border-color: $primary-color-hover;
    }

    &:focus {
        background-color: $primary-color-hover;
        border-color: $primary-color-hover;
    }
}

.ant-btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    font-weight: 600;

    &:hover {
        background-color: $primary-color-hover;
        border-color: $primary-color-hover;
    }

    &:focus {
        background-color: $primary-color-hover;
        border-color: $primary-color-hover;
    }
}

.btn-dark {
    @apply bg-gray-600 border-gray-600 font-medium;
    &:hover {
        @apply bg-gray-700 border-gray-700;
    }

    &:active {
        @apply bg-gray-700 border-gray-700;
    }
}

.site-title {
    font-size: 19px;
    font-weight: 700;
    padding: 12px 0;
}

.btn-primary-lg {
    @apply text-white rounded-lg p-2 text-3xl font-semibold;
    background-color: $primary-color;

    &:hover {
        background-color: $primary-color-hover;
    }
}

.btn-primary-md {
    @apply text-white rounded-2xl px-8 py-2 text-xl font-semibold;
    text-decoration: none;
    background-color: $primary-color;

    &:hover {
        background-color: $primary-color-hover;
        color: white;
    }

    &:disabled {
        opacity: 0.5;
    }
}

.text-disabled {
    color: #c4c4c4 !important;
}

.text-primary {
    color: $primary-color !important;
}

.bg-primary {
    background-color: $primary-color !important;
}

.disabled-link {
    background-color: #c4c4c4 !important;
}

.auth-layout {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 120px;
    }

    .auth-cards {
        background-color: #fff;
        width: min(95vw, 450px);
        padding: 32px;
        margin-bottom: 48px;
        border-radius: 4px;
        text-align: center;
        @apply shadow-sm;
    }
}

.dashboard-layout {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    @media screen and (max-width: $md-screen) {
        flex-direction: column;
    }

    .nav-area {
        height: 100vh;
        display: block;
        width: 330px;
        padding: 30px;
        @media screen and (max-width: $md-screen) {
            padding: 0;
            width: 100vw;
            height: 90px;
            position: relative;
        }

        .navbar {
            padding: 20px 0;
            height: 100%;
            display: block;
            width: 100%;
            background: #fff;
            @apply shadow-sm rounded-lg;
            @media screen and (max-width: $md-screen) {
                padding: 10px;
            }

            .site-title {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                padding: 15px 30px;
                align-items: flex-end;

                .mobile-menu-icon {
                    display: none;
                }

                @media screen and (max-width: $md-screen) {
                    width: auto;
                    justify-content: flex-start;
                    padding: 5px;
                    .mobile-menu-icon {
                        display: block;
                        position: absolute;
                        right: 20px;
                        top: 36px;
                        transform: rotate(-90deg);
                    }
                }

                img {
                    height: 56px;
                    width: auto;
                }

                h3 {
                    font-weight: 700;
                    font-size: 19px;
                    padding-left: 10px;
                    color: #383838;
                }
            }

            .mobile-menu {
                @media screen and (max-width: $md-screen) {
                    display: none;
                    background-color: #fff;
                }

                &.active {
                    display: block;
                    position: fixed;
                    background-color: #fff;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 555;
                    max-height: 100vh;
                }

                .menu-wrapper {
                    max-height: calc(100vh - 330px);
                    @apply overflow-y-scroll;
                    &::-webkit-scrollbar {
                        width: 10px;
                    }

                    &::-webkit-scrollbar-track {
                        background: #f1f1f1;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: #888;
                    }

                    .mobile-menu-title {
                        display: none;
                    }

                    @media screen and (max-width: $md-screen) {
                        max-height: calc(100vh - 155px);
                        .mobile-menu-title {
                            display: block;
                            padding: 16px 20px;
                        }
                    }

                    .menu {
                        padding-top: 20px;
                        padding-right: 25px;

                        li {
                            margin-bottom: 20px;

                            a {
                                text-decoration: none;
                                font-size: 15px;
                                display: flex;
                                color: #222;
                                font-weight: normal;
                                padding: 8px 12px;

                                svg {
                                    display: inline-block;
                                    margin: 4px 16px 4px 4px;
                                }

                                span {
                                    display: inline-block;
                                }

                                &.active {
                                    background-color: $primary-color;
                                    color: #fff;
                                    border-radius: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .main-container {
        width: calc(100vw - 350px);
        height: 100vh;
        display: block;
        padding: 30px 10px 30px 10px;
        @media screen and (max-width: $md-screen) {
            height: auto;
            width: 100vw;
            padding: 20px;
        }

        & > div {
            width: 100%;
            height: calc(100% - 90px);
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            &::-webkit-scrollbar-thumb {
                background: #888;
            }
        }
    }

    .page-title {
        font-size: 22px;
        font-weight: 700;
        color: #3d3d3d;
    }

    th {
        height: 60px;
        vertical-align: middle;
        font-size: 18px;
        padding-left: 12px;
        font-weight: bold;
        border-top: 1px solid #dfe3e9;
        border-bottom: 1px solid #dfe3e9;
    }

    tbody {
        border: none !important;

        td {
            border-top: 1px solid #dfe3e9;
            border-bottom: 1px solid #dfe3e9;
            height: 60px;
            padding: 15px 10px 10px 12px;
            vertical-align: middle;
        }
    }
}

.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}

.forgot-password a {
    color: #167bff;
}

.form-control:focus {
    box-shadow: none;
}

.ant-form-item {
    margin-bottom: 12px;
}

.ant-form-item-explain-error {
    color: #dc3545;
    padding-top: 5px;
}

.ant-form-item-has-error .form-control {
    border-color: #dc3545;
}

.ant-form-item-has-error .form-control:focus {
    border-color: #dc3545;
    box-shadow: none;
}

.ant-checkbox-input {
    width: 24px;
    height: 24px;
}

.checkbox-sm .ant-checkbox-input {
    width: 16px;
    height: 16px;
}

.ant-notification {
    z-index: 5000;
}

#preloader {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 999999;
    justify-content: center;
    align-items: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: $primary-color;
    border-radius: 50%;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.font-22 {
    font-size: 22px;
}

.ant-form-item-label
> label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
    display: none;
}

.ant-form-item-label
> label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
    display: inline-block;
    margin-left: 4px;
    margin-top: 2px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

.ant-form-item-label {
    font-size: 20px;
    font-weight: 700;
}

.ant-select-selector {
    border-radius: 0.25rem !important;
    border-color: #ced4da !important;
    box-shadow: none !important;
    height: 38px !important;

    .ant-select-selection-item {
        font-size: 14px !important;
    }
}

.ant-picker {
    border-radius: 0.25rem !important;
    border-color: #ced4da !important;
    box-shadow: none !important;
    height: 38px !important;
}

.area-select {
    .ant-select-selector {
        min-height: 100px !important;
        height: auto !important;
        align-items: flex-start !important;
        padding-top: 8px;

        .ant-select-selection-placeholder {
            top: 25% !important;
        }
    }
}

.rdrCalendarWrapper {
    width: 100%;
    .rdrMonth {
        width: 100%;
    }
}

.ant-picker-time-panel-column {
    &::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}

.date-picker {
    border-radius: 0.25rem !important;
    border-color: #ced4da !important;
    box-shadow: none !important;
    height: 36px !important;
    text-align: left !important;
}

.ant-switch {
    background-color: rgba(0, 0, 0, 0.25);
}

.ant-switch-checked {
    background-color: #1890ff;
}

.card-counter {
    box-shadow: 2px 2px 10px #dadada;
    padding: 20px 10px;
    margin-bottom: 16px;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    transition: 0.3s linear all;
    position: relative;
}

.card-counter:hover {
    box-shadow: 4px 4px 20px #dadada;
    transition: 0.3s linear all;
}

.card-counter.primary {
    background-color: #007bff;
    color: #fff;
}

.card-counter.danger {
    background-color: #ef5350;
    color: #fff;
}

.card-counter.success {
    background-color: #66bb6a;
    color: #fff;
}

.card-counter.info {
    background-color: #26c6da;
    color: #fff;
}

.card-counter i {
    font-size: 5em;
    opacity: 0.2;
}

.card-counter .count-numbers {
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
}

.card-counter .count-name {
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}

//Custom text styling:
.text-light-red {
    color: #d3687d; /* Light Red Color */
}
  
.text-black {
    color: black;
}

.button-inverted {
    background-color: white;           /* White background */
    color: $primary-color;             /* Red text color */
    border: 1.5px solid #555555;       /* Dark gray border instead of black */
    border-radius: 0.5rem;             /* Rounded corners, adjust as needed */
    padding: 0.5rem 1rem;              /* Padding for the button, adjust as needed */
    transition: 0.3s;                  /* Smooth transition for hover effects */
    font-weight: bold;                 /* Make text a little thicker */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* Add a subtle shadow */
}

.button-inverted:hover {
    background-color: $primary-color; /* Change to red background on hover */
    color: white;                     /* Change text to white on hover */
    transform: translateY(-5px);      /* Makes the button "jump" or move up on hover */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);  /* Increase shadow depth on hover */
}


.date-tag {
    display: inline-block;
    padding: 5px 8px;
    margin-right: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: black;            /* changed text color to black */
    font-size: 0.8rem;       /* reduced font size */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.02);   /* added shadow */
}

.date-tag.day {
    background-color: rgba(251, 174, 30, 0.387);   /* adjusted opacity for the orange color */
}

.date-tag.time {
    background-color: rgba(250, 250, 33, 0.417);   /* adjusted opacity for the yellow color */
}

.tag-red {
    display: inline-block;
    padding: 0.4rem 0.5rem;   /* Adjust for size as necessary */
    background-color: #eeb4b399; /* Dull red color */
    border-radius: 0.5rem;
    color: black;           /* Text color */
    font-size: 0.8rem;      /* Make text inside smaller */
    margin-right: 0.5rem;   /* Space between tags, adjust if needed */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05); /* Shadow around the border */
}

.tag-dark-red {
    display: inline-block;
    padding: 0.4rem 0.5rem;   /* Adjust for size as necessary */
    background-color: #e45d5b99; /* Dull red color */
    border-radius: 0.5rem;
    color: black;           /* Text color */
    font-size: 0.8rem;      /* Make text inside smaller */
    margin-right: 0.5rem;   /* Space between tags, adjust if needed */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05); /* Shadow around the border */
}
.tag-dark-green {
    display: inline-block;
    padding: 0.4rem 0.5rem;   /* Adjust for size as necessary */
    background-color: rgba(161, 220, 123, 0.794); /* Dull white color */
    border-radius: 0.5rem;
    color: black;           /* Text color */
    font-size: 0.8rem;      /* Make text inside smaller */
    margin-right: 0.5rem;   /* Space between tags, adjust if needed */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05); /* Shadow around the border */
}

.tag-white {
    display: inline-block;
    padding: 0.4rem 0.5rem;   /* Adjust for size as necessary */
    background-color: rgb(249, 245, 245); /* Dull white color */
    border-radius: 0.5rem;
    color: black;           /* Text color */
    font-size: 0.8rem;      /* Make text inside smaller */
    margin-right: 0.5rem;   /* Space between tags, adjust if needed */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05); /* Shadow around the border */
}

.tag-green {
    display: inline-block;
    padding: 0.4rem 0.5rem;   /* Adjust for size as necessary */
    background-color: rgba(201, 229, 184, 0.614); /* Dull white color */
    border-radius: 0.5rem;
    color: black;           /* Text color */
    font-size: 0.8rem;      /* Make text inside smaller */
    margin-right: 0.5rem;   /* Space between tags, adjust if needed */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05); /* Shadow around the border */
}



